@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?80082670');
  src: url('../font/fontello.eot?80082670#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?80082670') format('woff2'),
       url('../font/fontello.woff?80082670') format('woff'),
       url('../font/fontello.ttf?80082670') format('truetype'),
       url('../font/fontello.svg?80082670#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?80082670#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-pinboard:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-logout:before { content: '\e808'; } /* '' */
.icon-gastos:before { content: '\e809'; } /* '' */
.icon-print:before { content: '\e80a'; } /* '' */
.icon-network:before { content: '\e80b'; } /* '' */
.icon-doc-text:before { content: '\e80c'; } /* '' */
.icon-docs:before { content: '\e80d'; } /* '' */
.icon-pencil:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-user-add:before { content: '\e810'; } /* '' */
.icon-thumbs-up:before { content: '\e811'; } /* '' */
.icon-export-outline:before { content: '\e812'; } /* '' */
.icon-cog:before { content: '\e813'; } /* '' */
.icon-chart-bar:before { content: '\e814'; } /* '' */
.icon-book-open:before { content: '\e815'; } /* '' */
.icon-scissors:before { content: '\e816'; } /* '' */
.icon-wrench:before { content: '\e817'; } /* '' */
.icon-arrows-ccw:before { content: '\e818'; } /* '' */
.icon-cw:before { content: '\e819'; } /* '' */
.icon-clock:before { content: '\e81a'; } /* '' */
.icon-signal:before { content: '\e81b'; } /* '' */
.icon-signal-1:before { content: '\e81c'; } /* '' */
.icon-emo-unhappy:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-search-outline:before { content: '\e81f'; } /* '' */
.icon-lock:before { content: '\e820'; } /* '' */
.icon-lock-open:before { content: '\e821'; } /* '' */
.icon-rss:before { content: '\e822'; } /* '' */
.icon-ok-1:before { content: '\e823'; } /* '' */
.icon-cancel:before { content: '\e824'; } /* '' */
.icon-cog-1:before { content: '\e825'; } /* '' */
.icon-mail:before { content: '\e826'; } /* '' */
.icon-star:before { content: '\e827'; } /* '' */
.icon-attention-1:before { content: '\e828'; } /* '' */
.icon-terminal:before { content: '\e829'; } /* '' */
.icon-upload:before { content: '\e82a'; } /* '' */
.icon-upload-1:before { content: '\e82b'; } /* '' */
.icon-upload-outline:before { content: '\e82c'; } /* '' */
.icon-upload-2:before { content: '\e82d'; } /* '' */
.icon-download:before { content: '\e82e'; } /* '' */
.icon-download-1:before { content: '\e82f'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-download-outline:before { content: '\e833'; } /* '' */
.icon-link:before { content: '\e834'; } /* '' */
.icon-attach:before { content: '\e835'; } /* '' */
.icon-lock-1:before { content: '\e836'; } /* '' */
.icon-lock-open-1:before { content: '\e837'; } /* '' */
.icon-wifi-1:before { content: '\e838'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-desktop:before { content: '\e83a'; } /* '' */
.icon-flash:before { content: '\e83b'; } /* '' */
.icon-chart-alt:before { content: '\e83c'; } /* '' */
.icon-chart-bar-outline:before { content: '\e83d'; } /* '' */
.icon-chart-pie-outline:before { content: '\e83e'; } /* '' */
.icon-mail-1:before { content: '\e83f'; } /* '' */
.icon-camera:before { content: '\e840'; } /* '' */
.icon-ok-2:before { content: '\e841'; } /* '' */
.icon-cancel-1:before { content: '\e842'; } /* '' */
.icon-plus-circle:before { content: '\e843'; } /* '' */
.icon-minus-circle:before { content: '\e844'; } /* '' */
.icon-star-1:before { content: '\e845'; } /* '' */
.icon-star-empty:before { content: '\e846'; } /* '' */
.icon-bitbucket:before { content: '\e847'; } /* '' */
.icon-clock-1:before { content: '\e848'; } /* '' */
.icon-desktop-1:before { content: '\e849'; } /* '' */
.icon-mail-2:before { content: '\e84a'; } /* '' */
.icon-upload-3:before { content: '\f02f'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-volume-control-phone:before { content: '\f2a0'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-youtube:before { content: '\f313'; } /* '' */