@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?24575868');
  src: url('../font/fontello.eot?24575868#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?24575868') format('woff2'),
       url('../font/fontello.woff?24575868') format('woff'),
       url('../font/fontello.ttf?24575868') format('truetype'),
       url('../font/fontello.svg?24575868#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?24575868#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-pinboard:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-logout:before { content: '\e808'; } /* '' */
.icon-gastos:before { content: '\e809'; } /* '' */
.icon-print:before { content: '\e80a'; } /* '' */
.icon-network:before { content: '\e80b'; } /* '' */
.icon-doc-text:before { content: '\e80c'; } /* '' */
.icon-docs:before { content: '\e80d'; } /* '' */
.icon-pencil:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-user-add:before { content: '\e810'; } /* '' */
.icon-thumbs-up:before { content: '\e811'; } /* '' */
.icon-export-outline:before { content: '\e812'; } /* '' */
.icon-cog:before { content: '\e813'; } /* '' */
.icon-chart-bar:before { content: '\e814'; } /* '' */
.icon-book-open:before { content: '\e815'; } /* '' */
.icon-scissors:before { content: '\e816'; } /* '' */
.icon-wrench:before { content: '\e817'; } /* '' */
.icon-arrows-ccw:before { content: '\e818'; } /* '' */
.icon-cw:before { content: '\e819'; } /* '' */
.icon-clock:before { content: '\e81a'; } /* '' */
.icon-signal:before { content: '\e81b'; } /* '' */
.icon-signal-1:before { content: '\e81c'; } /* '' */
.icon-emo-unhappy:before { content: '\e81d'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */