
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-trash-empty:before { content: '\e801'; } /* '' */
.icon-help-circled:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e803'; } /* '' */
.icon-attention:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-pinboard:before { content: '\e806'; } /* '' */
.icon-users:before { content: '\e807'; } /* '' */
.icon-logout:before { content: '\e808'; } /* '' */
.icon-gastos:before { content: '\e809'; } /* '' */
.icon-print:before { content: '\e80a'; } /* '' */
.icon-network:before { content: '\e80b'; } /* '' */
.icon-doc-text:before { content: '\e80c'; } /* '' */
.icon-docs:before { content: '\e80d'; } /* '' */
.icon-pencil:before { content: '\e80e'; } /* '' */
.icon-ok:before { content: '\e80f'; } /* '' */
.icon-user-add:before { content: '\e810'; } /* '' */
.icon-thumbs-up:before { content: '\e811'; } /* '' */
.icon-export-outline:before { content: '\e812'; } /* '' */
.icon-cog:before { content: '\e813'; } /* '' */
.icon-chart-bar:before { content: '\e814'; } /* '' */
.icon-book-open:before { content: '\e815'; } /* '' */
.icon-scissors:before { content: '\e816'; } /* '' */
.icon-wrench:before { content: '\e817'; } /* '' */
.icon-arrows-ccw:before { content: '\e818'; } /* '' */
.icon-cw:before { content: '\e819'; } /* '' */
.icon-clock:before { content: '\e81a'; } /* '' */
.icon-signal:before { content: '\e81b'; } /* '' */
.icon-signal-1:before { content: '\e81c'; } /* '' */
.icon-emo-unhappy:before { content: '\e81d'; } /* '' */
.icon-search:before { content: '\e81e'; } /* '' */
.icon-search-outline:before { content: '\e81f'; } /* '' */
.icon-lock:before { content: '\e820'; } /* '' */
.icon-lock-open:before { content: '\e821'; } /* '' */
.icon-rss:before { content: '\e822'; } /* '' */
.icon-ok-1:before { content: '\e823'; } /* '' */
.icon-cancel:before { content: '\e824'; } /* '' */
.icon-cog-1:before { content: '\e825'; } /* '' */
.icon-mail:before { content: '\e826'; } /* '' */
.icon-star:before { content: '\e827'; } /* '' */
.icon-attention-1:before { content: '\e828'; } /* '' */
.icon-terminal:before { content: '\e829'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-spin2:before { content: '\e831'; } /* '' */
.icon-spin3:before { content: '\e832'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-money:before { content: '\f0d6'; } /* '' */
.icon-gauge:before { content: '\f0e4'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-mail-squared:before { content: '\f199'; } /* '' */
.icon-wifi:before { content: '\f1eb'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */