vpnConfig.php
smsender.php 
scss/*
vendor/*
crearRepetidor.sh
mailer/sendgrid.env
test.php
.env
/login/.env
conn.sh
ipup
ipAlive.json
ipup
/controller/ajax/cut.log
/controller/cron/clogs.txt
transaccion.log
controller/cron/facturas/*
